<section id="aboutUs">
  <div class="col-8 offset-2 bg-light main-content">
    <img
      src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
      alt="our work" class="main-img">
    <div class="mx-4 p-3">
      <h1 class="display-4 mb-3">Our Story</h1>
      <h2 class="display-4 mb-3">We took a survey among people asking if they feel confident.. At least <span
        style="color: red"> 38%</span>
        stated that no and
        <span style="color: red">25%</span> were not sure…
      </h2>
      <h3 class="display-4 mb-3">What surprised us? </h3>
      <p> That much more people believed that the others believe they are confident of themselves…
        Is it because we keep lack of confidence as our little secret and prefer to keep the face?
        Deep inside everyone feels insecure from time to time.. There are situations in life that trigger our
        insecurities…
        Do you know some of them yourself?
        Among the ones mentioned by our respondents the most frequently were:</p>
      <ul>
        <li> Failures, mistakes</li>
        <li> Being judged or criticised by others</li>
        <li> New and unknown situations, circumstances causing fear and stress, meeting new people</li>
        <li> Not living up to one's own expectations and not reaching the aims one set to themselves</li>
        <li>Being overwhelmed with too many tasks at once, stress, pressure</li>
        <li> Perfectionism</li>
        <li>Problems or feeling insecure in a relationship</li>
        <li> Problems at work</li>
        <li>The physical appearance</li>
        <li>Lack of knowledge or skills in a certain field of expertise, especially if we believe we should know it</li>
        <li> Own insecurities and inner criticism</li>
        <li>Comparing oneself with other people</li>
        <li>Bad relationship with one's parents</li>
        <li>Being confronted with a person who is overconfident themselves and sometimes uses his or her position to put
          his
          ideas through
        </li>
        <li> Feeling unsure if the job done was done correctly</li>

      </ul>

    <h2 class="display-4 mb-3">People who do not work on their self-confidence, usually do not do it, as they do not
      know how.</h2>
    <p> The positive thing is that actually at least 30% of the people who do not find themselves confident, want to
      work on it.
      Our respondents usually look for books or follow coaches on social networks or youtube, work on their own skills,
      meditate or attend a therapy or opt for a coach. They are pleased with the effects and would recommend doing
      something similar to their friends.
      The latter is not always available to everyone.</p>
    <p>
      We are offering a solution that is easily available to the majority of people. Our app is a simple exercise
      frequently used in such therapies: having a diary that records our little achievements of every day's life.
      Due to the lock-down and pandemic more and more people are suffering mentally, insecurity on the job market
      increases the self-doubt.</p>
  <p>
      Therapists whom we contacted at least in 60% of cases move to the digitalised solutions to support their
      customers. The trend was triggered by pandemic and keeps growing. Being forced to experiment with new technologies
      to maintain the contact with their patients, in the majority of cases they find the outcome positive. Apps are
      easy to use and have something that their patients need: reminders. They are a fresh and new idea for people who
      are isolated in their homes.. And… therapists begin to try them on themselves and love it! They come even with new
      ideas for further functionalities. They also loved the idea of our app!
    </p>
  </div>
  </div>
</section>
