<mat-card class="col-8 offset-2" style="width: 900px;margin: auto">

  <h2> Login </h2>
  <mat-form-field class="input-full-width">
    <label>
      <input
        ngModel required email name="email" #email="ngModel" [(ngModel)]="user.email"
        matInput  type="email" placeholder="e-mail">
    </label>
    <mat-error *ngIf="email.hasError('required')"> Email  is required</mat-error>
    <mat-error *ngIf="!email.hasError('required')"> Email  is invalid</mat-error>
  </mat-form-field>
  <mat-form-field  class="input-full-width" hintLabel="Min 3 character">
    <label>
      <input minlength="3"
             ngModel name="password" #password="ngModel" [(ngModel)]="user.password"
             matInput [type]="flag? 'password': 'text'" placeholder="Enter your password">
    </label>
  </mat-form-field>
  <div class="button-container">
    <button mat-flat-button color="accent" (click)="login()">Login</button>
    <button mat-flat-button color="warn" type="button" (click)="cancel()">Cancel</button>
  </div>
</mat-card>
