@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/font-awesome/scss/font-awesome.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.input-full-width {
  width: 100%;
}
.button-container{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
