// mat-grid-tile {
//   // border: 1px solid black;
//   // padding: 150px;
//   box-sizing: border-box;
//   background-color: blue;
// }

// .c-display-none {
//   display: none;
// }

// mat-grid-list {
//   border: 1px solid red;
//   // padding: 50px;
//   box-sizing: border-box;
//   // margin-bottom: 100px;
// }

// mat-select {
//   box-sizing: border-box;
// }

// body {
//   background-color: yellowgreen;
// }

:host {
  display: block;
  background-image: url("/assets/img/bg-leaves.jpg");
  background-size: 100%;  // 100% auto;
  // background-repeat: repeat-x;
}
