<div class="container">
  <div class="row">
    <div class="text-center mt-5">
      <p class="text-light">My achievements</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-label>Today I appreciate myself for...</mat-label>
        <input matInput [(ngModel)]="achievementForm.content" [name]="achievementForm.content">
        <mat-icon matSuffix>help_outline</mat-icon>
      </mat-form-field>
      
      <div class="mt-3">
        <button mat-raised-button (click)="addAchievement()">Add achievement</button>
      </div>      
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6 offset-3">
      <mat-card *ngFor="let achievement of achievements" class="mb-3">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>date_range</mat-icon></div>
          <mat-card-title>{{ achievement.created }}</mat-card-title>
        </mat-card-header>
      
        {{ achievement.content }}
      </mat-card>
    </div>
  </div>
</div>
