:host {
  display: block;
  background-image: url("/assets/img/bg-leaves.jpg");
  background-size: 100%;  // 100% auto;
  // background-repeat: repeat-x;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
}
