<footer class="p-3 pt-5">
  <h6 class="pt-3 pb-2 text-center">Let's Be Friends</h6>
  <ul class="list-inline text-center">
    <li class="list-inline-item mx-2">
      <a href="https://www.facebook.com" class="text-success">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li class="list-inline-item mx-2">
      <a href="https://twitter.com" class="text-success">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li class="list-inline-item mx-2">
      <a href="https://www.instagram.com" class="text-success">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</footer>
